<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>访问您的相机</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>访问麦克风</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>访问相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>访问相册</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black-2.otf</string>
		<string>Montserrat-Bold-3.otf</string>
		<string>Montserrat-ExtraBold-4.otf</string>
		<string>Montserrat-ExtraLight-5.otf</string>
		<string>Montserrat-Light-6.otf</string>
		<string>Montserrat-Medium-7.otf</string>
		<string>Montserrat-Regular-8.otf</string>
		<string>Montserrat-SemiBold-9.otf</string>
		<string>Montserrat-Thin-10.otf</string>
		<string>MontserratAlternates-Black-11.otf</string>
		<string>MontserratAlternates-Bold-12.otf</string>
		<string>MontserratAlternates-ExtraBold-13.otf</string>
		<string>MontserratAlternates-ExtraLight-14.otf</string>
		<string>MontserratAlternates-Light-15.otf</string>
		<string>MontserratAlternates-Medium-16.otf</string>
		<string>MontserratAlternates-Regular-17.otf</string>
		<string>MontserratAlternates-SemiBold-18.otf</string>
		<string>MontserratAlternates-Thin-19.otf</string>
		<string>NotoSansCJKtc-Black.otf</string>
		<string>NotoSansCJKtc-Bold.otf</string>
		<string>NotoSansCJKtc-DemiLight.otf</string>
		<string>NotoSansCJKtc-Light.otf</string>
		<string>NotoSansCJKtc-Medium.otf</string>
		<string>NotoSansCJKtc-Regular.otf</string>
		<string>NotoSansCJKtc-Thin.otf</string>
		<string>NotoSansMonoCJKtc-Bold.otf</string>
		<string>NotoSansMonoCJKtc-Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
